:root {
  --banner-height-xs: 80px;
  --banner-height-sm: 100px;
  --banner-height-md: 120px;
  --banner-height-lg: 150px;
  --banner-height-xl: 190px;

  --scrollbar-width: 12px;
  --scrollbar-height: 12px;
  --scrollbar-track-outline-thick: 1px;
  --scrollbar-thumb-border-thick: 1px;
  --scrollbar-track-border-radius: 10px;
  --scrollbar-thumb-border-radius: 8px;
}